<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Anonymous Text Message</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Send Anonymous Text Message</h1>
   <h3>Complete the forms below to send your text message</h3>
  <form method="POST" action="/send">
     <input type="text" name="number" placeholder="Phone Number">
     <input type="text" name="message" placeholder="Message">   
     <input type="submit">
  </form>
   
 </body>
</html>
