<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Anonymous Text Message</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   
     <h1>Send Anonymous Text Message</h1>
   
     <h2>Complete the forms below to send your text message</h2>
   
     <div id="submit">
      <form method="POST" action="/send">
       <input type="text" name="number" placeholder="Phone Number">
       <input type="text" name="message" placeholder="Message"> <br> <br>
       <input type="submit">
      </form>
     </div>
   
   <h5>Quick and Simple!</h5>
   <h5>Created by <a href= "myapps.erb">Jake Klaristenfeld</a></h5>
   
 </body>
</html>
