<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>My Websites</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h5>List of Websites Created by Jake Klaristenfeld</h5> 
   <h3>Web application that generates a random George W. Bush quote <a href= "https://bushanator.herokuapp.com/">Bushanator</a></h3>
   <h3>Web application that sends an anonymous text message <a href= "https://anonymoustexter.herokuapp.com/index.erb">Anonymous Texter</a></h3>
 </body>
</html>