<!DOCTYPE html>
<html id="html3">
 <head>
  <meta charset="UTF-8">
  <title>My Websites</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>List of Websites Created by Jake Klaristenfeld</h1> 
   <h3>Web application that generates a random George W. Bush quote <a href= "https://bushanator.herokuapp.com/">Bushanator</a></h3>
   <h3>Web application that sends an anonymous text message <a href= "https://anonymoustexter.herokuapp.com/index.erb">Anonymous Texter</a></h3>
   <h3>Web application that plays a song based on your mood <a href= "http://evibe.herokuapp.com/">Vibe</a></h3>
 </body>
</html>