<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>   
   
   <div id="message">
   <p>Your message to <%= @message.number %> has been sent! To send another anonymous text message click below</p> 
   </div>
   
   <div id="button">
     <a href= "index.erb"><button type ="button">New Message</button></a> 
   </div>
   
 </body>
</html>