h1 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue;
  font-family: 'Signika', sans-serif;
}

h2 {
  text-align: center;
  color: green;
  font-style: italic;
}

#submit {
  text-align: center;
}

#html1 {
  background-color: red;
}

#html2 {
  background-color: blue;
}

#body2 {
  text-align: center;
  font-weight: bold;
}

h5 {
  text-align: center;
  color: blue;
  font-style: italic;
}

#html3 {
  background-color: #6C6C89;
}

h3 {
  text-align: center;
}